@import "variables.css";


body {
  background-color: var(--body-bg);
}

.header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--card-text);
}

.header__button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--card-text);
  background-color: var(--card-bg-cover);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
}

.statistic {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  color: var(--card-text);
  font-size: 1.25rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: .25rem;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.card {
  min-width: 15dvh;
  height: auto;
  background-color: var(--body-bg);
  color: var(--card-text);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  font-size: 2rem;
  perspective: 1000px;
  transition: transform .3s, filter, background-color, outline var(--anim-duration) ease-in;

}

.card:focus-visible {
  outline: 2px solid var(--card-bg);
  outline-offset: 2px;
}
@media (hover: hover) {
  .card:hover {
    /* filter: brightness(1.2); */
    outline: 2px solid var(--card-bg);
    outline-offset: 2px;
    /* background-color: var(--card-bg--hover2); */
  }
}

.card__content {
  position: relative;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  transition: transform .3s;
}

.card[data-state="open"],
.card[data-state="matched"] {
  pointer-events: none;
}

.card[data-state="open"] .card__content,
.card[data-state="matched"] .card__content {
  transform: rotateY(180deg);
}

.card__content::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-color: var(--card-bg-cover);
  transition: background-color ease-in var(--anim-duration);
}

.card__content:hover:before {
  background-color: var(--card-bg-cover--hover);
}

.card__img {
  display: block;
  backface-visibility: hidden;
  --webkit-backface-visibility: hidden;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__img--front {
  background-color: var(--card-bg);
  transform: rotateY(180deg);
}


.card__img--back {
  transform: rotateY(0deg);
}

.card__img--back {
  position: absolute;
  inset: 0;
}